<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u3175008.capture_faster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".List_View"
            android:label="@string/title_activity_list__view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Business_CardDetails"
            android:label="Business_CardDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Capture_Load"
            android:label="@string/title_activity_capture__load"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Edit"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activityeight"
            android:label="@string/title_activity_activityeight"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>